<a href="#" class="close_pop">X</a>
<h1 class="pop">Copy List</h1>

<h2>New List Name</h2>
<textarea id="copy_list_name">{{list.name}}</textarea>

<div class="button_holder">
  <a href="#" id="copy_list" class="button green_button">Copy List</a>
</div>