<a href="#" class="close_pop">X</a>

<h1 class="pop">Change Due Date</h1>

<form>
  <dl class="date_time">
    <dt><label for="date">Date</label></dt>
    <dd><input type="date" name="date" id="date" value="{{date}}" /></dd>
    <dt><label for="time">Time</label></dt>
    <dd><input type="time" name="time" id="time" value="{{time}}" /></dd>
  </dl>
  <div class="button_holder">
    <a href="#" class="button green_button save_date">Save</a>
    <a href="#" class="button grey_button remove_date">Remove</a>
  </div>
</form>
