<a href="#" class="close_pop">X</a>

<h1 class="pop">List Commands</h1>

<a href="#" id="list_edit_add" class="command_link">Add Card...</a>
<a href="#" id="list_edit_copy" class="command_link">Copy List...</a>
<a href="#" id="list_edit_subscribe" class="command_link" >
  Subscribe
  {{#if subscribed}}
    <span class="icon_check"></span>
  {{/if}}
</a>
<a href="#" id="list_edit_move_cards" class="command_link">Move All Cards in This List</a>
<a href="#" id="list_edit_archive_cards" class="command_link">Archive All Cards in This List...</a>
<a href="#" id="list_edit_archive_list" class="command_link">Archive This List</a>


