<a href="#" class="close_pop">X</a>
<h1 class="pop">Rename Board</h1>

<h2>Name</h2>
<textarea id="board_name_edit">{{board.name}}</textarea>

<div class="button_holder">
  <a href="#" class="button green_button name_edit">Rename</a>
</div>