<a href="#" class="close"></a>
<div id="menu_title">
  <h1>CHANGE BACKGROUND</h1>
</div>

<ul id="background_select_list">
  {{#each backgrounds}}
    <li>
      <a bg="{{this}}" class="{{this}} bg_sample"  href="#"></a>
    </li>
  {{/each}}
<ul>