header.dark_blue_bg, li.dark_blue_bg
  background: #0067a3
main.dark_blue_bg,
.bg_sample.dark_blue_bg  
  background: #0079bf
    
header.orange_bg, li.orange_bg
  background: #b37b2c
main.orange_bg,
.bg_sample.orange_bg
  background: #d29034
    
header.dark_green_bg, li.dark_green_bg
  background: #458131
main.dark_green_bg,
.bg_sample.dark_green_bg
  background: #519839

header.red_bg, li.red_bg
  background: #963c2b
main.red_bg,
.bg_sample.red_bg  
  background: #b04632

header.purple_bg, li.purple_bg
  background: #755286
main.purple_bg,
.bg_sample.purple_bg
  background: #89609e

header.pink_bg, li.pink_bg
  background: #ae4d7b
main.pink_bg,
.bg_sample.pink_bg  
  background: #cd5a91
    
header.light_green_bg, li.light_green_bg
  background: #40a35b
main.light_green_bg,
.bg_sample.light_green_bg
  background: #4bbf6b

header.light_blue_bg, li.light_blue_bg
  background: #0094ae
main.light_blue_bg,
.bg_sample.light_blue_bg
  background: #00aecc

header.grey_bg, li.gregy_bg
  background: #6f777b
main.grey_bg,
.bg_sample.grey_bg  
  background: #838c91