colors = {
  header_dark:  #026AA7,
  header_light: rgba(255,255,255,.3),
  bg: rgb(0, 121, 191),
  list_bg: #E2E4E6,
  card_bg: #ffffff
}

clear_float()
  &:after
    content: ""
    clear: both
    display: block      
