<p class="action">
  <span>Changed the due date of </span>
  <a href="#" cardId="{{card_1.id}}" class="show_card action">{{card_1.name}} </a>
  <span> to {{action.text}}</span>
</p>
<span class="action">{{time_since}}</span>