<p class="action">
  <span>Set </span> 
  <a href="#" cardId="{{card_1.id}}" class="show_card action">{{card_1.name}} </a>
  <span> to be due on {{action.text}}</span>
</p>
<span class="action">{{time_since}}</span>