<div id="board_info">
  <h1>
    <a href="#" id="update_board_name">{{board.name}}</a>
  </h1>
  <a href="#" id="show_menu">
    <span></span>
    <span>Show Menu</span>
  </a>
</div>

<ul id="board_view_ul">
  <li list_id="1000" class="board_view_add_list dark_blue_bg">
    <a href="#" id="show_new_list">ADD NEW LIST</a>
    <div id="add_list_section">
      <textarea placeholder="Add A List"></textarea>
      <div class="button_holder">
        <a href="#" id="add_new_list" class="button green_button">Save</a>
        <a href="#" id="close_new_list"class="button close_button">X</a>
      </div>
    </div>
  </li>
</ul>

<div id="menu">
  <a href="#" class="close"></a>
  <div id="menu_title">
    <h1>Menu</h1>
  </div>
  <div id="menu_items">
    <a href="#" class="change_background">Change Background</a>
    <a href="#" class="filter_cards">Filter Cards</a>
  </div>
</div>
