<p class="comment">
  Comment on 
  <a href="#" cardId="{{card.id}}" class="show_card comment">{{card.name}}</a>
</p>
<p class="comment_text">{{comment.text}}</p>
<span class="comment">{{time_since}}</span>